<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunsheen.metadataserver.interfaceservice.mapper.InterfaceServiceMapper">
    <!-- 获取用户对应接口的信息 -->
    <select id="getIntfTableInfo" resultType="java.util.Map">
        SELECT
            a.C_INTF_TV_ID,
            a.C_INTF_TABLE_ID,
            b.C_TABLE_NAME,
            a.c_version
        FROM
            tab_omin_cm_cc_intf_table a,
            tab_omin_cm_cc_intf_tv b
        <where>
            a.C_INTF_TV_ID = b.C_INTF_TV_ID
            AND b.C_URL_PARAM = #{interfaceId}
            AND a.C_USER_ID = #{userId}
        </where>
    </select>

    <!-- 获取接口所对应的tvInfo -->
    <select id="getIntfTvInfoByInterfaceId" resultType="java.util.Map">
        SELECT
            a.C_INTF_TV_ID,
            a.C_TABLE_NAME
        FROM
            tab_omin_cm_cc_intf_tv a
        <where>
            a.C_URL_PARAM = #{interfaceId}
        </where>
    </select>

    <!-- 获取查询条件参数 -->
    <select id="getParamsByTvId" resultType="java.util.Map">
        SELECT
            C_INTF_PARAM_ID,
            C_INTF_PARAM_ID code,
            C_INTF_TV_ID,
            C_PARAM_KEY,
            C_PARAM_OPERATOR,
            C_VALUE_PREFIX,
            C_VALUE_SUFFIX,
            C_LOGIC
        FROM
            tab_omin_cm_cc_intf_param
        <where>
            C_INTF_TV_ID = #{tvId}
        </where>
    </select>

    <!-- 获取表字段名 -->
    <select id="getColumsByTableId" resultType="java.lang.String">
        SELECT
            a.c_column_name
        FROM
            tab_omin_cm_cc_intf_column a,
            tab_omin_cm_cc_intf_table b
        <where>
            a.C_INTF_TABLE_ID = b.C_INTF_TABLE_ID
            AND a.C_INTF_TABLE_ID = #{tableId}
        </where>
    </select>

    <!-- 获取接口数据 -->
    <select id="getDbData" resultType="java.util.Map">
        SELECT
            <choose>
                <when test="sqlColumns.size() > 0">
                    <foreach collection="sqlColumns" item="column" separator=",">
                        ${column}
                    </foreach>
                </when>
                <otherwise>
                    *
                </otherwise>
            </choose>
        FROM
            ${tableName}
        <where>
            1 = 1
            <if test="sqlParams.size() > 0">
                <foreach collection="sqlParams" item="map" separator=" ">
                    ${map.C_LOGIC} ${map.C_PARAM_KEY} ${map.C_PARAM_OPERATOR}
                    <choose>
                        <when test="(map.C_VALUE_PREFIX != null and map.C_VALUE_PREFIX != '') and (map.C_VALUE_SUFFIX != null and map.C_VALUE_SUFFIX != '')">
                            CONCAT(#{map.C_VALUE_PREFIX}, #{map.VALUE}, #{map.C_VALUE_SUFFIX})
                        </when>
                        <otherwise>
                            #{map.VALUE}
                        </otherwise>
                    </choose>
                </foreach>
            </if>
        </where>
        ORDER BY version DESC, c_updated_date DESC
    </select>

    <!-- 对内接口调用插入记录 -->
    <insert id="saveRecord">
        INSERT INTO tab_omin_cm_cc_intf_record (
            c_task_id,
            c_intf_table_id,
            c_intf_tv_id,
            c_user_id,
            c_invoke_starttime,
            c_invoke_endtime,
            c_data_num,
            c_status
        )
        VALUES (
            UUID(),
            #{recordMap.C_INTF_TABLE_ID},
            #{recordMap.C_INTF_TV_ID},
            #{recordMap.C_USER_ID},
            #{recordMap.C_INVOKE_STARTTIME},
            #{recordMap.C_INVOKE_ENDTIME},
            #{recordMap.C_DATA_NUM},
            #{recordMap.C_STATUS}
        )
    </insert>
</mapper>